@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Onest", sans-serif;
    overflow-y: hidden;
}

.roll{
    width: 3px;
    -webkit-animation: mouseScroll .8s cubic-bezier(.7,0,.3,1) infinite alternate;
    animation: mouseScroll .8s cubic-bezier(.7,0,.3,1) infinite alternate;
    z-index: 2;
}
  
.rollshadow {
    -webkit-animation: mouseScroll .8s cubic-bezier(.7,0,.3,1) infinite alternate;
    animation: mouseScroll .8s cubic-bezier(.7,0,.3,1) infinite alternate;
    animation-delay: 0s;
    -webkit-animation-delay: 80ms;
    animation-delay: 80ms;
    z-index: 1;
}
@-webkit-keyframes mouseScroll {
0% {
    -webkit-transform:translateY(0);
    transform:translateY(0)
}
100% {
    -webkit-transform:translateY(14px);
    transform:translateY(14px)
}
}
@keyframes mouseScroll {
0% {
    -webkit-transform:translateY(0);
    transform:translateY(0)
}
100% {
    -webkit-transform:translateY(14px);
    transform:translateY(14px)
}
}


.cssNav {
    left: 0;
    transform: translate(calc(50vw - 50%));
}

.arrows {
	width: 60px;
	height: 72px;
	left: 50%;
	margin-left: -30px;
	bottom: 20px;
}

.arrows path {
	stroke: #059669 ;
	fill: transparent;
	stroke-width: 1px;	
	animation: arrow 2s infinite;
	-webkit-animation: arrow 2s infinite; 
}

@keyframes arrow
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

@-webkit-keyframes arrow /*Safari and Chrome*/
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

.arrows path.a1 {
	animation-delay:-1s;
	-webkit-animation-delay:-1s; /* Safari 和 Chrome */
}

.arrows path.a2 {
	animation-delay:-0.5s;
	-webkit-animation-delay:-0.5s; /* Safari 和 Chrome */
}

.arrows path.a3 {	
	animation-delay:0s;
	-webkit-animation-delay:0s; /* Safari 和 Chrome */
}